.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}

.nav-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-item a {
    font-family: 'Kompot Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 17px;
    color: #FFFFFF !important;
}

.nav-item a:hover {
    color: #1270ed !important;
    font-weight: bold;
}
.nav-item a:active {
    color: #ffffff !important;
    background-color: transparent;
    text-decoration: none;
}

.navbar-brand img{
    width: 80%;
}
@media only screen and (max-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-start;
    }
}
@media only screen and (max-width: 992px){
    .navbar-expand-lg .navbar-nav {
        display: flex !important;
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav a{
        padding-left: 10px;
        font-size: 1rem;
    }
}
